/*Containers and body*/
.home-body{
    margin-top: 50px;
    background-color: #f8f8f8ff;
    font-family: 'Lato', sans-serif;
}

@media(min-width: 768px){
    #header-container{
        display:flex;
    }
}

/*Fonts*/
.playfair-font-black {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.lato-font{
    font-family: 'Lato', sans-serif;
}

.lobster-font{
    font-family: 'Lobster', cursive;
}

/*Name title size*/
@media(max-width: 599px){
    .large-letters{
        font-size: 50px;    
    }
}

@media(min-width: 600px){
    .large-letters{
        font-size: 60px;    
    }
}

@media(min-width: 768px){
    .large-letters{
        font-size: 70px;    
    }
}

@media(min-width: 992px){
    .large-letters{
        font-size: 80px;    
    }
}

@media(min-width: 1200px){
    .large-letters{
        font-size: 80px;    
    }
}